{% extends 'master' %}

{% block content %}

<div class="row">
    {% for category in categories %}
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">{{ category.name }}</div>

            <!-- List group -->
            <ul class="list-group">
                {% for matrac in category.allMatrac %}
                <li class="list-group-item">
                    <a href="/matrac/{{ matrac.id }}">{{ matrac.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}